# -*- mode: makefile -*-
#
.SUFFIXES: .cxx

.cxx.o:
	${EXAFMM_COMPILE_SINGLE} $<

.cxx.a: 
	-echo "In our library compile rule"
	${EXAFMM_COMPILE_SINGLE} $<
	${AR} ${AR_FLAGS} $@ $*.o
	${RM} $*.o

include ../${EXAFMM_ARCH}/conf/exafmmrules
